---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <span style="color: red; ">O</span>ne<span style="color: red; ">s</span>top; <span style="color: red; ">a</span> <span style="color: red; ">i</span>nternational <span style="color: red; ">F</span>inance for <span style="color: red; ">u</span>

  <h2>事業内容</h2>
  <h3>任意団体多重否決の会</h3>
  <p>
    当社の関連団体としてクレジットカードについて研究を行なっている同人サークルですが、独自の予算、運営体制で活動を行なっています。<br/>
    法人番号: 4700150101052
    <a href="https://tajuhiketsu.com/">https://tajuhiketsu.com/</a>
  </p>

  <h3>Osa!Fu</h3>
  <p>Coming soon... <br/>
    (なおOsa!Fu及びOsai-Fu、またそれに類する商標は2020年12月10日の設立日より商標申請準備中でございます)
  </p>

  <h2>企業概要</h2>
  <p>
    弊社についてご関心をお寄せいただき、誠にありがとうございます。<br/>
    弊社の企業情報については以下の通りとなります。
  </p>
  <table>
    <tbody>
    <tr>
      <td>企業名</td>
      <td>合同会社OsaiFu (OsaiFu Inc.)</td>
    </tr>
    <tr>
      <td>代表者</td>
      <td>佐藤正嶺 (Masane Sato)</td>
    </tr>
    <tr>
      <td>法人番号</td>
      <td>1130003006930</td>
    </tr>
    <tr>
      <td>本店所在地</td>
      <td>京都府京都市下京区四条通室町東入函谷鉾町１０１番地アーバンネット四条烏丸ビル６階</td>
    </tr>
    <tr>
      <td>本社所在地</td>
      <td>京都府京都市中京区烏丸通三条東入梅忠町24番地 三条COHJUビル4階</td>
    </tr>
    <tr>
      <td>資本金</td>
      <td>1000千円(資本準備金を除く)</td>
    </tr>
    <tr>
      <td>設立</td>
      <td>2020年12月</td>
    </tr>
    <tr>
      <td>主要取引銀行</td>
      <td>三菱UFJ銀行</td>
    </tr>
    </tbody>
  </table>

  <h2>お問い合わせについて</h2>
  <p>
    ご質問等ございましたら遠慮なくお問い合わせください。<br/>
    TEL: 050-5526-0230
  </p>
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
